body {
	margin: 0px auto;
	position: relative;
}

text {
	font: 10px sans-serif;
}

#head {
	width: 1000px;
	height: 60px;
	font-family: Microsoft JhengHei;
	text-align: center;
	margin: auto;
	position: relative;
}

#ckbs_for_svg2{
	width: 1000px;
	height: 250px;
	margin: auto;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: inline;
}

.line, .line2{
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}	

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 180px;					
    height: 60px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
