#xAxis path, #yAxis path, #xAxis line, #yAxis line {
	stroke: #ccc;
	fill: none;
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

#plot > svg {
    height: 640px;
    width: 100%;
}

.steps > .step > .content {
    background-color: inherit !important;
}

circle {
    cursor: pointer;
}

#wait {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: wait;
}

div.description {
    max-height: 16px;
    overflow-y: scroll;
}