<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="map">
  <div id="button">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" id="reset">
      <i class="material-icons">refresh</i>
    </button>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--2dp" id="set">
      <i class="material-icons">place</i>
    </button>
  </div>
</div>

<script type="text/javascript" src="js/dist/common.min.js"></script>
<script type="text/javascript" src="js/dist/index.min.js"></script>
