body {
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -512px;
  	text-algin:center;
}

.date-text {
    position: absolute;
    margin: 5px 0 0 800px;
    font-style: italic;
    font-size:10px;
}

/* US map */
.map circle {
    stroke: #FFFFFF;
    stroke-width: 1px;
    cursor: pointer;
}

/* Radar */
.teamRadar{
    cursor: default;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}